POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypass
POSTGRES_DB=bgpfinder_db
POSTGRES_PORT=5432
ROUTEVIEWS_ARCHIVE_URL=https://archive.routeviews.org/
RIS_COLLECTORS_URL=https://ris.ripe.net/docs/route-collectors/
RIS_DATA_URL=https://data.ris.ripe.net/
